body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: white;
}

a {
  color: #1e90ff;
}

a:hover {
  color: #ffbf00;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

h1, h2, p, strong {
  color: white;
}

.navbar, .navbar-dark {
  background-color: #1e1e1e !important;
}

.navbar a, .navbar a.nav-link, .navbar a.navbar-brand {
  color: white !important;
}

.navbar a:hover, .navbar a.nav-link:hover, .navbar a.navbar-brand:hover {
  color: #1e90ff !important;
}

.table {
  background-color: #2e2e2e;
  color: white;
}

.table th,
.table td {
  border-color: #444;
}

.table th {
  background-color: #3a3a3a;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #3a3a3a;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #2e2e2e;
}

.pagination .page-item.active .page-link {
  background-color: #1e90ff;
  border-color: #1e90ff;
}

.pagination .page-link {
  color: #1e90ff;
  background-color: #333;
  border: 1px solid #444;
}

.pagination .page-link:hover {
  color: white;
  background-color: #555;
  border-color: #666;
}

.bg-body-tertiary {
  background-color: #1e1e1e !important;
}

button {
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination .page-item {
  margin: 0 2px;
}

.pagination .page-item .page-link {
  display: block;
  padding: 0.5rem 0.75rem;
}